<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
<dict>
<key>id</key>
<string>safari</string>
<key>name</key>
<string>Safari</string>
<key>scheme</key>
<string>https</string>
<key>iconSystemName</key>
<string>safari.fill</string>
<key>colorHex</key>
<string>#1B82F6</string>
<key>urlTemplate</key>
<string>https://www.google.com/</string>
</dict>
<dict>
<key>id</key>
<string>firefox</string>
<key>name</key>
<string>Firefox</string>
<key>scheme</key>
<string>firefox</string>
<key>iconSystemName</key>
<string>flame.fill</string>
<key>colorHex</key>
<string>#FF6611</string>
<key>urlTemplate</key>
<string>firefox://open-url?url=https://www.google.com/</string>
</dict>
<dict>
<key>id</key>
<string>firefox-focus</string>
<key>name</key>
<string>Firefox Focus</string>
<key>scheme</key>
<string>firefox-focus</string>
<key>iconSystemName</key>
<string>eye.slash.fill</string>
<key>colorHex</key>
<string>#5E35B1</string>
<key>urlTemplate</key>
<string>firefox-focus://open-url?url=https://www.google.com/</string>
</dict>
<dict>
<key>id</key>
<string>chrome</string>
<key>name</key>
<string>Chrome</string>
<key>scheme</key>
<string>googlechrome-x-callback</string>
<key>iconSystemName</key>
<string>circle.circle.fill</string>
<key>colorHex</key>
<string>#1EA362</string>
<key>urlTemplate</key>
<string>googlechrome-x-callback://x-callback-url/open/?url=https://www.google.com/</string>
</dict>
<dict>
<key>id</key>
<string>edge</string>
<key>name</key>
<string>Microsoft Edge</string>
<key>scheme</key>
<string>microsoft-edge</string>
<key>iconSystemName</key>
<string>wind</string>
<key>colorHex</key>
<string>#0F7EC1</string>
<key>urlTemplate</key>
<string>microsoft-edge://open-url?url=https://www.google.com/</string>
</dict>
<dict>
<key>id</key>
<string>brave</string>
<key>name</key>
<string>Brave</string>
<key>scheme</key>
<string>brave</string>
<key>iconSystemName</key>
<string>shield.fill</string>
<key>colorHex</key>
<string>#FB542B</string>
<key>urlTemplate</key>
<string>brave://open-url?url=https://www.google.com/</string>
</dict>
<dict>
<key>id</key>
<string>duckduckgo</string>
<key>name</key>
<string>DuckDuckGo</string>
<key>scheme</key>
<string>ddgQuickLink</string>
<key>iconSystemName</key>
<string>bird.fill</string>
<key>colorHex</key>
<string>#DE5833</string>
<key>urlTemplate</key>
<string>ddgQuickLink://https://www.google.com/</string>
</dict>
</array>
</plist>
